.idea/.gitignore
.idea/full-stack-open.iml
.idea/modules.xml
.idea/vcs.xml
part1/part1/
.idea/.name
part3/phonebook/node_modules/
part3/backend/node_modules/
part3/phonebook/.env
part4/blogList/node_modules/
part4/blogList/.env
